* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Calibri;
}

header {
    background-color: #61b336;
    width: 100%;
    height: 85px;
}

.ec-logo {
    position: absolute;
    height: auto;
    left: 20px;
    top: 16px;
    font-size: 40px;
    font-family: FontLOGO;
    color: white;
}

.main{
    display: flex;
    margin-top: 20px;
    width: 90vw;
    height: 35rem;
    background-color: #f2f2f2;
    flex-direction: column;
    
}

.product_details{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: aqua;
    justify-content: center;
}

