* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #61b336;
    width: 100%;
    height: 85px;
}

.ec-logo {
    position: absolute;
    height: auto;
    left: 20px;
    top: 16px;
    font-size: 40px;
    font-family: FontLOGO;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.side-bar {
    margin: 10px;
    width: 15%;
    height: 50rem;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    /* grid-template-columns: repeat(4, 25%);
    grid-column-gap: 10px; */
    padding: 10px;
    width: 75%;
    height: 50rem;
    background-color: #f0f0f0;
    resize: none;
}

.product {
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
}

.product-cards {
    width: 100%;
    height: 60%;
    border: none;
}

.product_name{
    color: black ;
    font-family: WebsiteMainFont;
    margin-top: 30px;
    margin: 10px;
 
}

h3{
    font-family: WebsiteMainFont;
    color: chocolate ;
    margin-top: 30px;
    margin: 10px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: WebsiteMainFont;
    src: url(../fonts/Roboto-Condensed.ttf);
}

@font-face {
    font-family: FontLOGO;
    src: url(../fonts/coolvetica\ rg\ it.otf);
}
